{block content}

	<div style="display: none" n:block="title">Blog</div>

	{* Content *}
	<div class="jumbotron content mainJumbotron-blog">
		<div class="container">
			<h1>Gmakers.eu</h1>
			<p>Blog</p>
		</div>
	</div>
	<div class="container blog">
		<p>Novy prispevok</p>
		{control postForm}
	</div>

{/block}

{block scripts}
{include parent}

{/block}


{block head}

{/block}
