{block content}

	<div style="display: none" n:block="title">Blog</div>

	{* Content *}
	<div class="container">
		<div class="row">
			<h1>Blog</h1>		
		</div>
	</div>
	<div class="container blog">
		<p>Novy prispevok</p>
		{control postForm}
	</div>

{/block}

{block scripts}
{include parent}

{/block}


{block head}

{/block}
